.columns {
    min-width: 100%;
}

.hero.is-fullheight {
    @include until ($tablet) {
        display: block;
    }
}

.hero-foot {
    @include until ($tablet) {
        position: absolute;
        bottom: 1rem;
        right: 0;
        left: 0;
    }
    @include from ($tablet) {
        padding-bottom: 1rem;
    }
}
