.navbar-burger {
    span {
        height: 3px;
        width: 1.75rem;
        left: unset;
        right: 0;

        &:nth-child(1) {
            top: calc(50% - 10px);
        }

        &:nth-child(3) {
            top: calc(50% + 8px);
        }
    }

    &.is-active {
        span {
            &:nth-child(1) {
                transform:translateY(9px) rotate(45deg);
            }

            &:nth-child(3) {
                transform:translateY(-9px) rotate(-45deg);
            }
        }
    }

    &-menu {
        position: fixed;
        height: calc(100vh - 148px);
        width: 100vw;
        background-color: $primary;
        z-index: 5;
        transform: translateX(100%);
        transition: transform 300ms;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .navbar-item {
            margin-bottom: 2rem;

            &.is-active, &:hover{
                border-bottom: 2px solid $white;
                background-color: transparent !important;
            }
        }

        &.is-active {
            transform: translateX(0);
        }

        &-desktop {
            .navbar-item {

                &:not(:last-of-type) {
                    margin-right: 5.375rem;
                }

                &.is-active, &:hover{
                    border-bottom: 2px solid $white;
                    background-color: transparent !important;
                }
            }
        }
    }
}



.navbar-brand {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: $hero-body-padding-tablet;
    padding-bottom: 0;

    @include until ($tablet) {
        padding: 1.5rem 1.5rem;
    }
}
