@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url('../fonts/Montserrat-regular.woff2') format('woff2'),
         url('../fonts/Montserrat-regular.woff') format('woff');
}

@font-face {
    font-family: "Lora";
    font-weight: 400;
    src: url('../fonts/Lora-VariableFont_wght.woff2') format('woff2'),
         url('../fonts/Lora-VariableFont_wght.woff') format('woff');
}
