// General
$body-size: 16px;

// Colors
$black: #181719;
$white: #ffffff;
$light: #A9A9A9;

// Derived colors
$text: $white;
$primary: $black;

// Typography
$family-primary: "Montserrat", "Helvetica", sans-serif;
$family-secondary: "Lora", "Helvetica", sans-serif;
$weight-light: 200;
$weight-normal: 400;
$weight-medium: 500;
$weight-bold: 700;

// Sizes
$size-1: 3rem;
$size-2: 2.25rem;
$size-3: 1.5rem;
$size-4: 1rem;
$size-5: 14px;
$size-6: 12px;
$size-7: 10px;

// Title
$title-color: $white;
$title-bold: $weight-bold;
$title-family: $family-secondary;
$subtitle-color: $white;
$subtitle-weight: $weight-normal;
